@import "tailwindcss";

* {
  box-sizing: border-box;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 #f7fafc;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: #f7fafc;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}
